kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: kind-1
networking:
  apiServerAddress: "127.0.0.1"
  apiServerPort: 8443
nodes:
- role: control-plane
  #image: kindest/node:v1.27.3
  extraPortMappings:
  - containerPort: 6443
    hostPort: 8081 # maps to spire server on kind-1 cluster
